.sidebar { padding: 30px 0; display: inline-block; height: 100%; background-color: #dfecfc; }
.sidebar .sidebar__nav a { font-size: 20px; color: #F26A1B; text-decoration: none; }
.sidebar .sidebar__nav li + li { padding-top: 20px;}