.select .select__title { display: block; padding-bottom: 10px; font-size: 20px; color: #F26A1B; }
.select .select__container { min-width: 150px; padding: 10px; font-size: 20px; color: #F26A1B; background-color: #fff; border: 1px solid #F26A1B; border-radius: 30px; }
.select .select__item { border: 1px solid #F26A1B; }