.footer { padding-bottom: 50px; text-align: center;  }
.footer .footer__head { display: flex; justify-content: space-between; padding: 20px; }
.footer .footer__container { background-color: #F4F8FF; }